<div class="container">
    <div class="mt-5 vstack gap-2 col-md-5 mx-auto">
        <h1>Development team:</h1>
        <h4>47193 - João Arcanjo</h4>
        <h4>47256 - Diogo Novo</h4>
        <p> Teacher - Luís Falcão</p>
    </div>
</div>