<div class="form_box">
    <h2> BORGA </h2>
    <form action="/login" method="POST">
        <div class="vstack mt-3 gap-2 col-md-10 mx-auto">
            <input type="text" name="username" class="form-control" placeholder="Username" required="" maxlength="50" value="{{username}}">
            <input type="password" name="password" class="form-control" placeholder="Password" required="" maxlength="50">
            {{#if hasError}}
                <div>
                    <p class="text-danger">{{message}}</p>
                </div>
            {{/if}}
            <button type="submit" class="btn btn-primary btn-lg btn-block">Login</button>
        </div>                            
    </form>
    <div class="line"></div>
    <div>
        <a href ="/signup">
            <button type="submit" class="btn btn-success">Sign up</button>
        </a> 
    </div>       
</div>
