<div class="form_box">
    <h2> Create group: </h2>
    <form action="/groups" method="POST">
        <div class="vstack mt-3 gap-2 col-md-10 mx-auto">
            <input type="text" name="name" class="form-control" placeholder="Name" required="" maxlength="50">
            <input type="text" name="description" class="form-control" placeholder="Description" required="" maxlength="70">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Create Group</button>
        </div>
    </form>
</div>