<div id="update-group" class="form_box" data-token="{{token}}">
    <h2> Update group: </h2>
        <div class="vstack mt-3 gap-2 col-md-10 mx-auto">
            <input id="update-name" type="text" name="name" class="form-control" placeholder="Name" maxlength="50">
            <input id="update-description" type="text" name="description" class="form-control" placeholder="Description" maxlength="70">
            <a href="/groups">
                <button type="submit" class="update btn btn-primary btn-lg btn-block">Submit</button>
            </a>
        </div>
</div>
<script type="text/javascript" src="/public/js/groups.js"></script>